{% extends "base.html" %}

{% block content %}
<!-- Section1 -->
<div class="hero is-small is-bold">
  <section id="divider">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline is-vcentered">

          <!-- First row -->
          <div class="column is-half has-text-justified">
            <p class="title">
              <h2 class="title is-3">But how does it work?</h2>
            </p>
            <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
              Imagine you’re nearing retirement and can’t afford to sit patiently through another financial crisis
              waiting for your investments to regain the value that they have lost.
              You're also passionate about finance, and devised an investment strategy, which couldn't possibly fail,
              you say. Imagine this dream portfolio consists of the following:
            </h1>
          </div>
          <div class="column has-text-centered">
            <!-- Dash here -->
            <img src="/static/images/about/pie.png" alt="">
            <!-- /Dash here -->
          </div>
          <!-- /First row -->

          <!-- Empty row row -->
          <div class="column is-12">&emsp;</div>
          <!-- /Empty row -->

          <!-- Second row -->
          <div class="column is-half has-text-centered">
            <!-- Dash here -->
            <img src="/static/images/about/chart.png" alt="">
            <!-- /Dash here -->
          </div>
          <div class="column has-text-justified">
            <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
              That's great, but wouldn’t it be useful to consider similar portfolios, comparing how much they’ve lost in
              the worst year out of the last 50?
              Just to make sure that the dream portfolio indeed works.
              This process is known as backtesting and is usually done with the assistance of a computer.
            </h1>
          </div>
          <!-- /Second row -->

          <!-- Empty row row -->
          <div class="column is-12">&emsp;</div>
          <!-- /Empty row -->

          <!-- Third row -->
          <div class="column is-half has-text-justified">
            <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
              That is where Thalia can help you, with Thalia, you can:
              <p>&emsp;</p>
              <ul style="list-style-type:disc;">
                <li>Specify an asset allocation using hundreds of assets across major asset classes</li>
                <li>Plot the performance of strategies against each other and an index benchmark</li>
                <li>Gain insight into a strategy’s key risk and performance metrics</li>
                <li>Model regular contributions and re-balancing strategies</li>
                <li>Save and share a portfolio to compare and discuss with peers</li>
              </ul>
            </h1>
          </div>

          <div class="column has-text-right">
            <img src="/static/images/Logos/small_logo.png" alt="">
          </div>
          <!-- /Third row -->

        </div>
      </div>
    </div>
  </section>
</div>
<!-- /Section1 -->
{% endblock %}