<form role="form" method="post" novalidate>
  {{ form.hidden_tag() }}

  <div class="columns is-multiline">
    <div class="column is-12">
      {{ form.username(placeholder="Username", class="input is-medium", size=32)
      }}
    </div>

    <div class="column is-12">
      {{ form.password(placeholder="Password",class="input is-medium",
      type="password", size=32) }}
    </div>

    <div class="column is-12">
      <p class="has-text-light">
        {{ form.remember_me() }} {{ form.remember_me.label }}
      </p>
    </div>

    <div class="column is-7" style="text-align:left;">
      <div class="form-footer has-text-left mt-10">
        <button
          type="submit"
          class="button is-primary has-background-inspire4 raised is-clear signin-btn"
        >
          Sign in
        </button>
      </div>
    </div>

    <div class="column">
      <div class="form-footer has-text-right mt-10">
        <p class="has-text-light">New user?</p>
        <a class="tag" href="{{ url_for('main.register') }}">Sign up</a>
      </div>
    </div>
  </div>
</form>
