{% extends "base.html" %} {% block content %}
<style>
    .profile-pic {
        display: inline-block;
        width: 256px;
        height: 256px;
        border-radius: 50%;
        object-fit: cover;
    }
</style>
<!-- Section1 -->
<div class="hero is-small is-bold">
    <section id="divider">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-multiline is-vcentered">

                    <!-- Intro -->
                    <div class="column is-12 has-text-justified">
                        <p class="title">
                            <h2 class="title is-3">The Creators of Thalia</h2>
                        </p>
                        <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
                            Thalia was born as a simple idea, but ended up being the result of many months of hard work. As for any sofware product there is a team of great software engineers behind Thalia, who worked tirelessly to deliver it. This page is dedicated to them.
                        </h1>
                    </div>
                    <!-- /Intro -->

                    <!-- Empty row -->
                    <div class="column is-12">&emsp;</div>
                    <!-- /Empty row -->

                    <!-- Weronika -->
                    <div class="column is-half has-text-centered">
                        <div class="image-cropper">
                            <img class="profile-pic" src="/static/images/us/Veronica.jpg">
                        </div>
                    </div>
                    <div class="column has-text-justified">
                        <p class="title">
                            <h2 class="title is-3">Veronica Kakavou</h2>
                        </p>
                        <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
                            I was responsible for the development of front end parts of Thalia. I enjoy reading books, travelling around the world, aviation, and catching up with new technologies.
                        </h1>
                    </div>
                    <!-- /Weronika -->

                    <!-- Empty row -->
                    <div class="column is-12">&emsp;</div>
                    <!-- /Empty row -->

                    <!-- Martti -->
                    <div class="column is-half has-text-justified">
                        <p class="title">
                            <h2 class="title is-3">Martti Aukia</h2>
                        </p>
                        <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
                            Team lead/QA/front end dev/tester/occasional bug fixer extraordinaire. You can usually find me sick at home or leaving overly pedantic code reviews.
                        </h1>
                    </div>
                    <div class="column has-text-centered">
                        <div class="image-cropper">
                            <img class="profile-pic" src="/static/images/us/Martti.jpg">
                        </div>
                    </div>
                    <!-- /Martti -->

                    <!-- Empty row -->
                    <div class="column is-12">&emsp;</div>
                    <!-- /Empty row -->

                    <!-- Albert -->
                    <div class="column is-half has-text-centered">
                        <div class="image-cropper">
                            <img class="profile-pic" src="/static/images/us/Albert.jpg">
                        </div>
                    </div>
                    <div class="column is-half has-text-justified">
                        <p class="title">
                            <h2 class="title is-3">Albert Boehm</h2>
                        </p>
                        <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
                            Together with Daniel, I was responsible for developing the number crunching aspects of Thalia. A person like many other, I find pleasure in reading books, spending time in nature, and writing code.
                        </h1>
                    </div>
                    <!-- /Albert -->

                    <!-- Empty row -->
                    <div class="column is-12">&emsp;</div>
                    <!-- /Empty row -->

                    <!-- Louis -->
                    <div class="column is-half has-text-justified">
                        <p class="title">
                            <h2 class="title is-3">Arthur-Louis Heath</h2>
                        </p>
                        <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
                            My key responsibilities on the project are managing Thalia's data storage, testing and documentation. Currently finishing a BSc in Computing Science and Mathematics at the University of Aberdeen. In my spare time, I enjoy music, cinema and heated conversations
                            with friends.
                        </h1>
                    </div>
                    <div class="column has-text-centered">
                        <div class="image-cropper">
                            <img class="profile-pic" src="/static/images/us/Louis.jpg">
                        </div>
                    </div>
                    <!-- /Louis -->

                    <!-- Empty row -->
                    <div class="column is-12">&emsp;</div>
                    <!-- /Empty row -->

                    <!-- George -->
                    <div class="column is-half has-text-centered">
                        <div class="image-cropper">
                            <img class="profile-pic" src="/static/images/us/George.jpg">
                        </div>
                    </div>
                    <div class="column is-half has-text-justified">
                        <p class="title">
                            <h2 class="title is-3">George Stoian</h2>
                        </p>
                        <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
                            I wrote the Data Harvester layer of Thalia. The purpose of the module I built was the management of the financial APIs in a way that allows us to avoid any restrictions imposed by them, while still having a daily updated database.
                        </h1>
                    </div>
                    <!-- /George -->

                    <!-- Empty row -->
                    <div class="column is-12">&emsp;</div>
                    <!-- /Empty row -->

                    <!-- Daniel -->
                    <div class="column is-half has-text-justified">
                        <p class="title">
                            <h2 class="title is-3">Daniel Joffe</h2>
                        </p>
                        <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
                            I was on the team for writing Thalia's financial analysis code. While I'm first and foremost a programmer, I enjoy other nerdy activities such as speedcubing and D&D. Also power metal.
                        </h1>
                    </div>
                    <div class="column has-text-centered">
                        <div class="image-cropper">
                            <img class="profile-pic" src="/static/images/us/Daniel.jpg">
                        </div>
                    </div>
                    <!-- /Daniel -->

                    <!-- Empty row -->
                    <div class="column is-12">&emsp;</div>
                    <!-- /Empty row -->

                    <!-- Marcell -->
                    <div class="column is-half has-text-centered">
                        <div class="image-cropper">
                            <img class="profile-pic" src="/static/images/us/Marcell.jpg">
                        </div>
                    </div>
                    <div class="column is-half has-text-justified">
                        <p class="title">
                            <h2 class="title is-3">Marcell Veiner</h2>
                        </p>
                        <h1 class="subtitle is-4 has-text-weight-light has-text-black ">
                            Lastly, my fair share of the project was designing the website and the dashboard. This meant connecting the business and presentation layer of Thalia and visualising the data with responsive graphs, and plots.
                        </h1>
                    </div>
                    <!-- /Marcell-->

                </div>
            </div>
        </div>
    </section>
</div>
<!-- /Section1 -->
{% endblock %}